### Segmenting and Clustering Neighborhoods in Toronto. Part 2.

In [42]:
import pandas as pd
import numpy as np
import pgeocode
from time import sleep

##### read csv as data frame

In [43]:
df=pd.read_csv('Postcode.csv')
df.head(5)

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [44]:
postcodes=df['Postcode'].to_list()
print(postcodes)

['M1B', 'M1C', 'M1E', 'M1G', 'M1H', 'M1J', 'M1K', 'M1L', 'M1M', 'M1N', 'M1P', 'M1R', 'M1S', 'M1T', 'M1V', 'M1W', 'M1X', 'M2H', 'M2J', 'M2K', 'M2L', 'M2M', 'M2N', 'M2P', 'M2R', 'M3A', 'M3B', 'M3C', 'M3H', 'M3J', 'M3K', 'M3L', 'M3M', 'M3N', 'M4A', 'M4B', 'M4C', 'M4E', 'M4G', 'M4H', 'M4J', 'M4K', 'M4L', 'M4M', 'M4N', 'M4P', 'M4R', 'M4S', 'M4T', 'M4V', 'M4W', 'M4X', 'M4Y', 'M5A', 'M5B', 'M5C', 'M5E', 'M5G', 'M5H', 'M5J', 'M5K', 'M5L', 'M5M', 'M5N', 'M5P', 'M5R', 'M5S', 'M5T', 'M5V', 'M5W', 'M5X', 'M6A', 'M6B', 'M6C', 'M6E', 'M6G', 'M6H', 'M6J', 'M6K', 'M6L', 'M6M', 'M6N', 'M6P', 'M6R', 'M6S', 'M7A', 'M7R', 'M7Y', 'M8V', 'M8W', 'M8X', 'M8Y', 'M8Z', 'M9A', 'M9B', 'M9C', 'M9L', 'M9M', 'M9N', 'M9P', 'M9R', 'M9V', 'M9W']

##### create latitude/lognitudes

In [45]:
nomi = pgeocode.Nominatim('ca')
nomi.query_postal_code("M1B")

postal_code                                       M1B
country code                                       CA
place_name        Scarborough (Malvern / Rouge River)
state_name                                    Ontario
state_code                                         ON
county_name                               Scarborough
county_code                                       NaN
community_name                                    NaN
community_code                                    NaN
latitude                                      43.8113
longitude                                     -79.193
accuracy                                            6
Name: 0, dtype: object

In [46]:
latitudes=[]
longitudes=[]
for codes in postcodes:
    tdf=nomi.query_postal_code(codes)
    lat=tdf[9]
    longi=tdf[10]
    print(codes, lat, longi)
    latitudes.append(tdf[9])
    longitudes.append(tdf[10])
    sleep(1)

M1B 43.8113 -79.193
M1C 43.7878 -79.1564
M1E 43.7678 -79.1866
M1G 43.7712 -79.2144
M1H 43.7686 -79.2389
M1J 43.7464 -79.2323
M1K 43.7298 -79.2639
M1L 43.7122 -79.2843
M1M 43.7247 -79.2312
M1N 43.6952 -79.2646
M1P 43.7612 -79.2707
M1R 43.7507 -79.3003
M1S 43.7946 -79.2644
M1T 43.7812 -79.3036
M1V 43.8177 -79.2819
M1W 43.8016 -79.3216
M1X 43.834 -79.2069
M2H 43.8015 -79.3577
M2J 43.7801 -79.3479
M2K 43.7797 -79.3813
M2L 43.7547 -79.3764
M2M 43.7915 -79.4103
M2N 43.7673 -79.4111
M2P 43.75 -79.3978
M2R 43.7786 -79.445
M3A 43.7545 -79.33
M3B 43.745 -79.359
M3C 43.7334 -79.3329
M3H 43.7535 -79.4472
M3J 43.7694 -79.4921
M3K 43.739 -79.4692
M3L 43.7334 -79.5116
M3M 43.7319 -79.4928
M3N 43.7568 -79.521
M4A 43.7276 -79.3148
M4B 43.7063 -79.3094
M4C 43.6913 -79.3116
M4E 43.6784 -79.2941
M4G 43.7124 -79.3644
M4H 43.7059 -79.3464
M4J 43.6872 -79.3368
M4K 43.6803 -79.3538
M4L 43.6693 -79.3155
M4M 43.6561 -79.3406
M4N 43.7301 -79.3935
M4P 43.7135 -79.3887
M4R 43.7143 -79.4065
M4S 43.702 -79.3853
M4T 43.6899 -79.3853
M4V 43.6861 -79.4025
M4W 43.6827 -79.373
M4X 43.6684 -79.3689
M4Y 43.6656 -79.383
M5A 43.6555 -79.3626
M5B 43.6572 -79.3783
M5C 43.6513 -79.3756
M5E 43.6456 -79.3754
M5G 43.6564 -79.38600000000002
M5H 43.6496 -79.3833
M5J 43.62300000000001 -79.3936
M5K 43.6469 -79.3823
M5L 43.6492 -79.3823
M5M 43.7335 -79.4177
M5N 43.7113 -79.4195
M5P 43.6966 -79.41199999999998
M5R 43.6736 -79.4035
M5S 43.6629 -79.3987
M5T 43.6541 -79.3978
M5V 43.6404 -79.3995
M5W 43.6437 -79.3787
M5X 43.6492 -79.3823
M6A 43.7223 -79.4504
M6B 43.7081 -79.4479
M6C 43.6915 -79.4307
M6E 43.6889 -79.4507
M6G 43.6683 -79.4205
M6H 43.6655 -79.4378
M6J 43.648 -79.4177
M6K 43.6383 -79.4301
M6L 43.7137 -79.4869
M6M 43.6934 -79.4857
M6N 43.6748 -79.4839
M6P 43.6605 -79.4633
M6R 43.6469 -79.4521
M6S 43.6512 -79.4828
M7A 43.6641 -79.3889
M7R nan nan
M7Y 43.7804 -79.2505
M8V 43.6075 -79.5013
M8W 43.6021 -79.5402
M8X 43.6518 -79.5076
M8Y 43.6325 -79.4939
M8Z 43.6256 -79.5231
M9A 43.6662 -79.5282
M9B 43.6505 -79.5517
M9C 43.6437 -79.5767
M9L 43.7598 -79.5565
M9M 43.7366 -79.5401
M9N 43.7068 -79.517
M9P 43.6949 -79.5323
M9R 43.6898 -79.5582
M9V 43.7432 -79.5876
M9W 43.7144 -79.5909

In [58]:
df['Latitude']=latitudes
df['Longitude']=longitudes
df.head(3)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.8113,-79.1930
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.7878,-79.1564
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.7678,-79.1866

In [56]:
# fill the nan entry
a=43.651890
b=-79.381710
indexNames = df[ df['Postcode'] == 'M7R'].index
print(indexNames)
df.loc[indexNames,'Latitude'] =a 
df.loc[indexNames,'Longitude']=b
indexNames = df[ df['Postcode'] == 'M7R']
print(indexNames)

Int64Index([86], dtype='int64')
   Postcode      Borough                          Neighbourhood  Latitude  \
86      M7R  Mississauga  Canada Post Gateway Processing Centre  43.65189

    Longitude
86  -79.38171

In [57]:
df.to_csv(r'Coordinates.csv',index=False)